.portifolio {
  padding: 50px;
}

.firstgroup,
.secondgroup,
.thirdgroup {
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
}

.example {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 400px;
}

h3 {
  width: 220px;
  @include text1(20px, $color1);
  text-align: center;
  margin: 15px 0px;
}

.code,
.page {
  background-color: $color6;
  @include text1(20px, $color1);
  text-decoration: none;
  padding: 5px 8px;
  border-radius: 20px;

  &:hover {
    background-color: $color7;
  }
}
