.portifolio {
  @include text1(30px, $color4);
  padding: 50px;
}

.firstgroup,
.secondgroup {
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
}

.example {
  display: flex;
  flex-direction: column;
  align-items: center;
}
