* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("/Assets/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

nav {
  background-color: #2e2e2e;
  width: auto;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 50px;
  -webkit-box-shadow: -1px 4px 5px -1px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 4px 5px -1px rgba(0, 0, 0, 0.75);
}

.logo {
  width: 50px;
  margin: 30px;
}

.com1,
.com2 {
  font: 22px "Rajdhani", sans-serif;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 18px;
}

.com1:hover,
.com2:hover {
  color: #2dc59f;
}

.com1 {
  right: 30%;
}

.com2 {
  right: 20%;
}

.cont {
  font: 18px "Rajdhani", sans-serif;
  color: white;
  text-decoration: none;
  background-color: #2dc59f;
  padding: 10px 25px;
  border-radius: 20px;
  position: absolute;
  right: 5%;
  top: 8px;
}

.cont:hover {
  background-color: #37e9bc;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

.logocenter {
  width: 200px;
}

h1 {
  font: 30px "Rajdhani", sans-serif;
  color: white;
  margin: 30px 0px 20px 0px;
}

p {
  font: 20px "Rajdhani", sans-serif;
  color: white;
}

.parag {
  padding: 20px 40px 30px 30px;
  border-radius: 50px;
  background-color: rgba(66, 66, 66, 0.267);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #424242;
  padding: 50px 120px;
  -webkit-box-shadow: 2px 10px 5px -5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 10px 5px -5px rgba(0, 0, 0, 0.5);
}

.language {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2 {
  font: 30px "Rajdhani", sans-serif;
  color: #2dc59f;
}

.info {
  font: 20px "Rajdhani", sans-serif;
  color: white;
}

.portifolio {
  padding: 50px;
}

.firstgroup,
.secondgroup,
.thirdgroup {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

img {
  width: 400px;
}

h3 {
  width: 220px;
  font: 20px "Rajdhani", sans-serif;
  color: #424242;
  text-align: center;
  margin: 15px 0px;
}

.code,
.page {
  background-color: #2dc59f;
  font: 20px "Rajdhani", sans-serif;
  color: white;
  text-decoration: none;
  padding: 5px 8px;
  border-radius: 20px;
}

.code:hover,
.page:hover {
  background-color: #37e9bc;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #424242;
  padding: 70px 120px;
  -webkit-box-shadow: 2px 10px 5px -5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 10px 5px -5px rgba(0, 0, 0, 0.5);
}

h4 {
  font: 30px "Rajdhani", sans-serif;
  color: white;
  margin-bottom: 50px;
}

.name,
.email,
.telephone,
.message {
  font: 18px "Rajdhani", sans-serif;
  color: #2e2e2e;
  border-radius: 20px;
  border-style: none;
  padding: 10px 10px 10px 20px;
  margin-bottom: 8px;
}

.submit {
  background-color: #2dc59f;
  font: 20px "Rajdhani", sans-serif;
  color: white;
  text-decoration: none;
  padding: 5px 8px;
  border-radius: 20px;
  border-style: none;
}

.submit:hover {
  background-color: #37e9bc;
}

form {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logofooter {
  width: 100px;
  margin-top: 80px;
}

.paragfooter {
  font: 20px "Rajdhani", sans-serif;
  color: white;
  margin-bottom: 80px;
}
/*# sourceMappingURL=style.css.map */