* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #fff;
}

//Imports
@import "general";
@import "nav";
@import "about";
@import "skills";
@import "portifolio";
@import "contact";
@import "footer";
